body{
    margin: 0px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/04/50/75/85585d27229af16.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
    color: white;
}
.container{
    text-align: center;
    margin-top: 100px;
}

.calc {
    display: inline-block;
    background-color: rgba(58, 51, 51, 0.582);
    border-radius: 10px;
    padding: 10px;
}


table{
    margin: auto;
    height: 150px;
    width: 100px;
}

input {
    font-size: 30px;
    height: 70px;
    width: 405px;
    margin-top: 20px;
    border-radius: 10px;      
}

button {
    font-size: 25px;
    color: white;
    height: 65px;
    width: 98px;
    background-color: rgba(58, 51, 51, 0.582);
    border: none;
}

@media screen and (max-width: 500px) {
    input{
        font-size: 30px;
        height: 100px;
        width: 730px;
        margin-top: 20px;
        border-radius: 10px;
    }

    button{
            font-size: 45px;
            color: white;
            height: 129px;
            width: 180px;
            background-color: rgba(58, 51, 51, 0.582);
            border: none;       
    }   
}
